---
import {Image} from 'astro:assets';
import {CollectionEntry} from 'astro:content';
import Badge from "../badge/Badge.astro";
import {BADGE_VARIANT} from "../badge";

interface Props {
    data: CollectionEntry<"board-games">;
}

const {data : {title, description, imageLink, deposit, 'price-per-week': price, players, time, age}} = Astro.props;

const info=`${players} | ${time} | ${age}`;
---

<style is:raw>
    @import "GameCard.scss";
</style>

<div class="game-card-root">
    <div class="game-card-image">
        {
            imageLink ?
                    <Image src={imageLink} alt={`${title}-image`} width="180" height="180"/> : null
        }
    </div>
    <div class="game-card-content">
        <h1>
            {title}
        </h1>
        <p>
            {description}
        </p>

        <p>
            {info}
        </p>
        <div class="badge-list">
            <Badge variant={BADGE_VARIANT.PRIMARY}>{price} / hét</Badge>
            <Badge variant={BADGE_VARIANT.PRIMARY}>{deposit} kaució</Badge>
        </div>
    </div>
</div>