---
import {getCollection} from 'astro:content';

import MainPageLayout from "../layouts/MainPageLayout.astro";
import GameCard from "../components/game-card/GameCard.astro";

const boardGameEntries = await getCollection('board-games');
---
<style>
    .header-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: color-mix(in srgb, var(--color-azure) 10%, transparent);
        padding: 12px;
    }

    .game-card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 30%));
        gap: 32px;
        padding: 12px;
    }

    .footer-container {
        padding: 12px;
    }
</style>

<MainPageLayout>
    <div slot="content">
        <div class="header-container">
            <h1>Fedezd fel Veszprémben kölcsönözhető társasjáték kínálatunkat és kezdődhet a játék!</h1>
        </div>

        <div class="game-card-container">
            {boardGameEntries.map(({data}) =>
                    <GameCard title={data.title}
                              info={data.info}
                              description={data.description}
                              imageLink={data.image}/>
            )}
        </div>

        <div class="footer-container">
            Az oldal még fejlesztés alatt áll, de a <a href="https://facebook.com/bethepawn"
                                                       rel="noopener noreferrer" target="_blank">Facebookon</a>
            már minden információt megtalálhattok, szeretettel várunk benneteket!
        </div>
    </div>
</MainPageLayout>
