---
import {getCollection} from 'astro:content';

import MainPageLayout from "../layouts/MainPageLayout.astro";
import GameCard from "../components/game-card/GameCard.astro";

const boardGameEntries = await getCollection('board-games');
---
<style>
    .content {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        margin: 0 10%;
    }

    .game-card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 30%));
        gap: 32px;

        margin: 16px 0;
    }
</style>

<MainPageLayout>
    <div slot="content" class="content">
        <div>
            <div>
                Üdvözlünk benneteket a Be The Pawn veszprémi társasjáték kölcsönző oldalán!

                <p>Kedvcsinálóként az alábbi játékok közül tudtok válogatni</p>

                <div class="game-card-container">
                    {boardGameEntries.map(({data}) =>
                            <GameCard title={data.title}
                                      info={data.info}
                                      description={data.description}
                                      imageLink={data.image}/>
                    )}
                </div>

                Az oldal még fejlesztés alatt áll, de a <a href="https://facebook.com/bethepawn"
                                                           rel="noopener noreferrer" target="_blank">Facebookon</a>
                már minden információt megtalálhattok, szeretettel várunk benneteket!
            </div>
        </div>
    </div>
</MainPageLayout>
